<template>
  <v-app>
    <v-toolbar fixed app>

    </v-toolbar>
    <v-content>
      <v-container>
        <v-slide-y-transition mode="out-in">
          <v-layout column align-center>
            <v-container grid-list-sm fluid>
              <v-layout row wrap>
                <v-flex
                        v-for="(img, name) in imgs"
                        xs2
                        d-flex
                >
                  <v-card flat tile class="d-flex">
                    <v-img
                            :src=img
                            :lazy-src=img
                            aspect-ratio="1"
                            class="grey lighten-2"
                            :name=name
                            @click="showSnackbar(name)"
                    >
                      <v-layout
                              slot="placeholder"
                              fill-height
                              align-center
                              justify-center
                              ma-0
                      >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-layout>
                    </v-img>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-layout>
        </v-slide-y-transition>
      </v-container>
    </v-content>
    <v-snackbar
            v-model="snackbar"
            :multi-line="false"
            :timeout=10000
            :vertical="false"
            :top="true"
    >
      {{ snackbarText }}
      <v-btn
              dark
              flat
              @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <v-footer :fixed="fixed" app>
      <span>CopyRights &copy; 2018 Cultr.camp and ICON authors. ALL RIGHTS RESERVED</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    name: "app",
    data: function() {
      return {
        imgs: {},
        snackbarText: "",
        snackbar: false,
        snackbarColor: "teal",
        fixed: true,
        dcconUrlDev: "/public/dccon.json",
        dcconUrl: "/get_json"
      }
    },
    miniVariant: false,
    right: true,
    rightDrawer: false,
    title: 'Vuetify.js',
    mounted: function() {
      this.$http.get(this.dcconUrlDev).then((resp) => {
        console.log(resp.data);
        this.imgs = resp.data;
        console.log(this.imgs);
      })
    },
    computed: {
      hasImgs: function () {
        return this.data.imgs;
      }
    },
    methods: {
      showSnackbar(name) {
        this.$copyText("~"+name).then((e) => {
          this.snackbarText = "~" + name + " 가 복사됨.";
          this.snackbarColor = "teal";
          this.snackbar = true;
          console.log(e)
        }, (e) => {
          this.snackbarText = name + "복사 실패";
          this.snackbarColor = "red";
          this.snackbar = true;
        })
      }
    }
  }
</script>
